*.o
*.keystore
cscope.out
kwaak/project/local.properties
kwaak/project/.classpath
kwaak/project/.project
kwaak/project/obj
kwaak/project/bin
kwaak/project/gen
kwaak/project/libs/armeabi/*.so
kwaak/project2/local.properties
kwaak/project2/proguard.cfg
kwaak/project2/.classpath
kwaak/project2/.project
kwaak/project2/obj
kwaak/project2/bin
kwaak/project2/gen
kwaak/project2/libs/armeabi/*.so
ioquake3/build
